<ul class="nav nav-list">
    <li class="nav-header">Categories</li>
    <li><a href="#!filter/all">All (<%= contacts.count("all") %>)</a></li>
    <% $.each(categories, function(i, category){%>
        <li><a href="#!filter/<%= category.data %>"><%= category.name %> (<%= contacts.count(category.data)%>)</a></li>
    <% }) %>
</ul>